body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
	text-align: left;
	background-color: #fff;
    min-height: 75rem;
    padding-top: 4.5rem;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
	background: linear-gradient(to left, #0097ff 0%, #ccf3ff 100%);
	
}
.navbar-dark .navbar-brand {
    color: #fff;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}
.navbar-expand-md .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.bg-dark {
    background-color: #343a40 !important;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	margin-bottom:100px;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
	border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-success {
	color: #caf2ff;
    border-color: #ccf3ff;
}
.btn-outline-success:hover {
    color: #fff;
	background-color: #24a7ff;
    border-color: #166fab;
}
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;

	background: linear-gradient(to right, #0097ff 0%, #ccf3ff 100%);
	}
.fixed-top .navbar-brand{
	margin-left: auto;
	margin-right: auto;
}
.tiles {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
	background-color: #e9ecef;
    border-radius: .3rem;
	margin-bottom:10px;
	padding: 1rem 0.5rem;
}
.text-tiles {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}

.text-tiles .tags{
	float: left;
}
.text-tiles .like{
	float: right;
	font-weight:700;
}
.photo-tiles {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    text-align: center;
}
.tiles p{
	margin-top:5px;
	margin-bottom:5px;
	line-height: 1;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid rgba(0,0,0,.1);
}
.fixed-bottom {padding:0;}
.fixed-bottom .navbar-brand {font-size:0.75rem}
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tiles_head_text{
    margin: 0 auto;
text-align:center;
	}
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}